<h1 style="margin: 0 auto; width: 180px; margin-top: 50px;">Cart component</h1>
<mat-divider style="margin: 0 auto; width: 180px; margin-top: 5px;"></mat-divider>
<div style="margin-top: 100px;">
<mat-card style="width: 500px; margin: 0 auto;">
    <mat-card-header>
        <mat-card-title>Add new product to bag</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="newproduct.name">
                    <button mat-button *ngIf="newproduct.name" matSuffix mat-icon-button aria-label="Clear" (click)="newproduct.name=''">
                        <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <input matInput [(ngModel)]="newproduct.description">
                    <button mat-button *ngIf="newproduct.description" matSuffix mat-icon-button aria-label="Clear" (click)="newproduct.description=''">
                        <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput [(ngModel)]="newproduct.price">
                    <button mat-button *ngIf="newproduct.price" matSuffix mat-icon-button aria-label="Clear" (click)="newproduct.price=null">
                        <mat-icon>close</mat-icon>
                      </button>
                  </mat-form-field>
            </div>
        </div>
        <button  (click)="addProductToBag()" mat-raised-button color="primary">Add product to bag</button> <br>
    </mat-card-content>
</mat-card>
<mat-card style="width: 500px; margin: 0 auto; margin-top: 50px;">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Bag Preview</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <div *ngIf="products.length>0; else elseBlock">      
                <div *ngFor="let product of products">
                    Name:{{product.name}} Description:{{product.description}} Price:{{product.price}}
                </div><br>
                <button  (click)="clearBag()" mat-raised-button color="primary">Clear bag</button>
            </div>
            <ng-template #elseBlock>The bag is empty.</ng-template>
        </div>
    </mat-card-content>
</mat-card>
</div>
