h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
  
  input[type=text]{
    color: #c90e0e;
    font-family: Cambria, Georgia;
    margin: 10px;
  }
  
  button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }