<div>
<h1>Cart:</h1>
<div *ngIf="cart.buyedItems.length then cartItemList else emptyCart"></div>
<ng-template #cartItemList>
    <div *ngFor="let cartItem of cart.buyedItems">
      <app-cart-item appHighlightBackground  [currentCartItem] = "cartItem" (deleteCartItem)="onDeleteCartItem($event)" 
      (changeCount) = "onChangeCount($event)"></app-cart-item>
    </div>
    <div>Total: {{getTotal()}}$</div>
</ng-template>
<ng-template #emptyCart>
    <h3>Cart is empty</h3>
</ng-template>
</div>

    
